<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message  %></h4>
            <p>oh shucks you broke the website. jk, go back and navigate better.</p>
            <hr>
            <p class="mb-0">skrrrt</p>
          </div>
    </div>
</div>
